{
	"plugins": ["@typescript-eslint"],
	"extends": [
		"@react-native",
		"eslint:recommended",
		"plugin:react/recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended"
	],
	"rules": {
		"no-trailing-spaces": 1,
		"quotes": ["warn", "double", { "avoidEscape": true }]
	},
	"parserOptions": {
		"requireConfigFile": false
	}
}
